<div class="pure-g">
  <div class="pure-u-1-1">
    <h2 class="text-center">View Entry</h2>
    <div class="pure-u-1">
  		<div>
        <p>
          <b>Entry by </b><a [routerLink]="['/detail-user', entry_user?._id]">{{ entry_user?.username }}</a>
        </p>
      </div>
      <div class="pure-u-1"><b>Home team: </b>{{ entry?.home }}</div>
      <div class="pure-u-1"><b>Away team: </b>{{ entry?.away }}</div>
      <div class="pure-u-1"><b>Date: </b>{{ entry?.date | date:'shortDate' }}</div>
      <div class="pure-u-1"><b>Viewing length: </b>{{ entry?.length }} quarters</div>
      <div class="pure-u-1"><b>Notes: </b>{{ entry?.notes }}</div>
      <div class="pure-u-1"><b>Players tagged: </b><div *ngFor="let player of players">{{ player?.last_name }}, {{ player?.first_name }}</div></div>
      <div class="pure-u-1">{{ players}}</div>
    </div>
  </div>
</div>
