<div class="pure-g">
	<div class="sidepanel pure-u-1-24 pure-u-lg-1-4">
		<div class="l-box"></div>
	</div>

	<div class="mainpanel pure-u-11-12 pure-u-lg-1-2">
		<h1 class="text-center">
			Welcome to {{title}}
		</h1>
		<router-outlet></router-outlet>
		
		<div class="pure-u-1">
			<div class="l-box"></div>
		</div>

		<div class="pure-u-1">
			<!-- <app-footer></app-footer> -->
			<div class="pure-g footerpanel">
				<div class="pure-u-1">
					<div class="pure-u-1 blackpanel"></div>
					<div class="pure-u-1">
						<!-- if logged IN -->
						<div *ngIf="loggedIn" class="pure-u-1-1">
							<div class="pure-u-1-2 text-center">
								<button routerLink="/entries" class="pure-button">Home</button>
							</div>
						<div class="pure-u-1-2 text-center">
							<button *ngIf="loggedIn" (click)="onLogOutClick()" class="pure-button">Logout</button>
						</div>
						</div>
						<!-- if logged OUT -->
						<div *ngIf="!loggedIn" class="pure-u-1-1">
							<div class="pure-u-1-2 text-center">
								<button *ngIf="!loggedIn" routerLink="/login" class="pure-button">Login</button>
							</div>
							<div class="pure-u-1-2 text-center">
								<button *ngIf="!loggedIn" routerLink="/register" class="pure-button">Register</button>
							</div>
						</div>
					</div>
				<div class="pure-u-1 blackpanel"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="sidepanel pure-u-1-24 pure-u-lg-1-4">
		<div class="l-box"></div>
	</div>
</div>