<div class="pure-g">
  <div class="pure-u-1 text-center">
    <div class="pure-u-1 text-center">
      <h2>Admin Panel</h2>
    </div>
    <div class="pure-u-1"></div>
    <div class="pure-u-1">Users {{ users }}</div>
    <div class="pure-u-1">
      <table class="pure-table table-center">
        <thead class="text-center">
        <tr>
          <th>Email</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.email }}</td>
          <td class="pure-button-group" role="group">
            <button class="pure-button" (click)="viewUser(user)">View</button>
            <button class="pure-button" (click)="editUser(user)">Edit</button>
            <button class="button-error pure-button" (click)="deleteUser(user)">Delete</button>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
