<div class="pure-g">
  <div class="pure-u-1">
    <div class = "pure-u-1">
      <h2 class="text-center">Edit Entry</h2>
    </div>
    <div class="pure-u-1">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="pure-form">  
        <div class="pure-u-1-2">
          <select formControlName="home" name="home" class="pure-input-1-8" id="home">
            <option *ngFor="let x of teams" value="{{x.team}}">{{x.team}}</option>
          </select>
          <select formControlName="away" name="away" class="pure-input-1-8" id="away">
            <option *ngFor="let x of teams" value="{{x.team}}">{{x.team}}</option>
          </select>
        </div>
        <div class="pure-u-1-2">
          <p>Roughly how many quarters of the game did you watch?</p>
          <select formControlName="length" name="length" class="pure-input-1-8" id="length">
            <option *ngFor="let x of lengthOptions" value="{{x}}">{{x}}</option>
          </select>
          <button class="pure-button pure-input-1-8 pure-button-primary">Update</button>
        </div>
        <div class="pure-u-1">
          <div></div>
        </div>
        <div class="pure-u-1">
          <textarea formControlName="notes" name="notes" class="pure-input-1" id="notes"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>