<div class="pure-g">
  <div class="pure-u-1">
    <div class = "pure-u-1">
      <h2 class="text-center">Edit Entry</h2>
    </div>
    <div class="pure-u-1">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="pure-form">  
        <div class="pure-u-1-2 text-center">
          <select formControlName="home" name="home" class="pure-input-1-8" id="home">
            <option *ngFor="let x of teams" value="{{x.team}}">{{x.team}}</option>
          </select>
          <select formControlName="away" name="away" class="pure-input-1-8" id="away">
            <option *ngFor="let x of teams" value="{{x.team}}">{{x.team}}</option>
          </select>
        </div>
        <div class="pure-u-1-2 text-center">
          <div>Roughly how many quarters of the game did you watch?</div>
          <select formControlName="length" name="length" class="pure-input-1-8" id="length">
            <option *ngFor="let x of lengthOptions" value="{{x}}">{{x}}</option>
          </select>
          <button class="pure-button pure-input-1-8 pure-button-primary">Update</button>
        </div>
        <div class="pure-u-1">
          <div></div>
        </div>
        <div class="pure-u-2-3">
          <textarea formControlName="notes" placeholder="Notes" name="notes" class="pure-input-1" id="notes"></textarea>
        </div>
        <div class="pure-u-1-3">
          <div class="pure-u-1-24"></div>
          <div class="pure-u-11-12">
            <app-player-select-edit (notifyAdd)='onNotifyAdd($event)' (notifyRemove)='onNotifyRemove($event)' [team]="entry.home"></app-player-select-edit>
            <app-player-select-edit (notifyAdd)='onNotifyAdd($event)' (notifyRemove)='onNotifyRemove($event)' [team]="entry.away"></app-player-select-edit>
          </div>
          <div class="pure-u-1-24"></div>
        </div>
      </form>
    </div>
  </div>
</div>